/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/*Body styling*/
body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    width: 100%;
    scroll-behavior: smooth;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* responsive sizing */
html {
    font-size: 60%;
}

/* Tablet and larger */
@media (min-width: 768px) {
    html {
        font-size: 80%;
    }
}

/* Desktop and larger */
@media (min-width: 1024px) {
    html {
        font-size: 100%;
    }
}
html, body { height: 100%; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
